a {
	text-decoration: none !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	padding: 4px !important;
}

.content-header .breadcrumb {
	font-size: 16px;
}

.table-hover > tbody > tr:hover {
	background-color: #d4d4d4 !important;
}

.table.dark > thead > tr > th,
.table.dark > tbody > tr > th,
.table.dark > tfoot > tr > th,
.table.dark > thead > tr > td,
.table.dark > tbody > tr > td,
.table.dark > tfoot > tr > td {
	border-top: 1px solid #d4d4d4 !important;
}

#factura_form label.margin-right {
	margin-right: 1.2em;
}

#factura_form input {
	font-weight: bold;
}

.oculto {
	display: none !important;
}

.vcenter {
	display: flex;
	align-items: center;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.img-circle {
	background-color: #f4f4f4;
}

a.box-title {
	color: #444 !important;
}

a.box-title:hover {
	color: #000 !important;
}

/* .content.layout-flex {
    display: grid;
} */

.lead {
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
}

.big-text h1 {
	font-size: 41px;
}

.margin-top {
	margin-top: 50px;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.margin-left {
	margin-left: 10px;
}

.margin-right {
	margin-right: 10px;
}

.margin_bottom {
	margin-bottom: 20px;
}

ul.detail,
ul.favorite-data {
	list-style-type: none;
	padding: 0;
}

ul.detail li {
	display: inline-block;
	/*float: left;*/
}

ul.detail li.margin-left,
ul.pagination li.margin-left {
	margin-left: 1em;
}

ul.detail li.margin-right,
ul.pagination li.margin-right {
	margin-right: 1em;
}

ul.pagination.no-margin {
	margin: 0;
	width: 100%;
}

ul.pagination li span.title-box {
	font-size: 18px;
	border: 0;
	padding: 0 1em;
	background-color: transparent;
	color: inherit;
}

.border-bottom {
	border-bottom: 1px solid #f4f4f4;
}

.pointer {
	cursor: pointer;
}

#factura_form .form-control,
.text-12 {
	font-size: 12px;
}

.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.modal-content {
	border-radius: 3px !important;
}

.important-text {
	font-size: 16px;
	font-weight: bold;
}

.text-18 {
	font-size: 18px;
}

.text-14 {
	font-size: 14px;
}

.bg-hover {
	background-color: #337ab7;
	color: #fff;
	border-color: #337ab7;
	font-weight: bold;
}

.table-hover > tbody > tr.bg-hover:hover {
	background-color: #337ab7 !important;
}

tr.bg-hover input {
	color: black;
	font-weight: bold;
	width: 6em;
}

tr.bg-hover .form-group {
	background-color: #337ab7 !important;
	margin: 0;
}

tr.bg-hover a {
	color: #f2f2f2 !important;
}

tr.bg-hover a:hover {
	color: #fff !important;
}

tr.bg-yellow {
	font-weight: bold;
	background-color: rgba(214, 138, 17, 0.6) !important; /* 243, 156, 18 */
	color: #fffcfc !important;
}

.table-hover > tbody > tr.bg-yellow:hover {
	background-color: rgba(243, 156, 18, 1) !important;
	color: #fff !important;
}

tr.bg-yellow a {
	color: #f2f2f2 !important;
}

tr.bg-yellow a:hover {
	color: #f4f4f4 !important;
}

tr.bg-blue {
	background-color: rgba(51, 122, 183, 0.7) !important;
}

tr.bg-blue.bg-red,
tr.bg-red {
	background-color: rgba(252, 101, 81, 0.8) !important;
}

.table-hover > tbody > tr.bg-red.bg-hover:hover {
	background-color: #dd4b39 !important;
}

td.text-right {
	text-align: right !important;
}

td.text-left {
	text-align: left !important;
}

/* #rat-4-form input[name="energia"] {
	background-color: red !important;
} */

.form-group input.large {
	width: 350px;
}

.form-group span {
	padding-left: 2px;
}

.form-group label.extendido {
	width: 100%;
}

/* .table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.negrita {
	font-weight: bold;
}
